{{template "base" .}}

{{define "content"}}
        <div class="container">
            <div class="row">
                <div
                    class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto d-block room-image"
                >
                    <img
                        src="/static/images/marjors-suite.png"
                        class="img-fluid img-thumbnail"
                        alt="room image"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1 class="text-center mt-4">Major's Suite</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Nihil exercitationem consectetur expedita nam
                        totam non, necessitatibus numquam pariatur fugiat
                        voluptatibus veniam sapiente labore dolores, fugit
                        libero, explicabo eos rem impedit.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <a id="check-availability-button" href="/#!" class="btn btn-success"
                        >Check Availability</a
                    >
                </div>
            </div>
        </div>
{{end}}
{{define "js"}}
    <script>
    document
    .getElementById('check-availability-button')
    .addEventListener('click', (e) => {
        e.preventDefault()
        let html = `
                    <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                        <div class="row">
                            <div class="col">
                                <div class="row" id="reservation-dates-modal">
                                    <div class="col">
                                        <input required class="form-control" type="text" name="start" id="start" placeholder="Check-in date" autocomplete="off"/>
                                    </div>
                                    <div class="col">
                                        <input required class="form-control" type="text" name="end" id="end" placeholder="Check-out date" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    `
        notification.showDatepicker({
            title: 'Choose your dates',
            msg: html,
            callback: async (result) => {
                const form = document.getElementById('check-availability-form')
                const formData = new FormData(form)
                formData.append('csrf_token', '{{.CSRFToken}}')
                formData.append('room_id', '2')

                const response = await axios.post(
                    '/search-availability-json',
                    formData
                )
                const { data } = response

                const {ok} = data
                if (ok) {
                    notification.custom({
                        icon: 'success',
                        showConfirmButton: false,
                        msg: '<p>Room is available</p>' +
                        `<p><a href="/book-room?id=${data.room_id}&s=${data.start_date}&e=${data.end_date}" class="btn btn-primary">Book now!</a></p>`,
                    })
                } else {
                    notification.error({
                        title: 'Error', 
                        text: 'Not available', 
                        confirmButtonText: 'Ok'
                    })
                }
            },
        })
    })

    </script>
{{end}}